rootkey.csv
/in_dev
/infra/terraform/.terraform/
/infra/terraform/terraform.tfstate
/infra/terraform/terraform.tfstate.backup
/infra/terraform/.terraform.lock.hcl
/telebot
/kctlid
exec.py
**/node_modules
**.serverless
**/target
